<p style="color: green"><%= notice %></p>

<h1><%= @course.course_name  %></h1>

<div>
  <%= link_to "Edit this course", edit_course_path(@course) ,class:"btn btn-primary mt-2" %> |
  <%= link_to "Back to courses", courses_path, class:"btn btn-secondary mt-2" %>

  <%= button_to "Destroy this course", @course, method: :delete , class:"btn btn-danger mt-3" %>
</div>
