<p style="color: green"><%= notice %></p>

<h1 class="text-center">Units</h1>

    <table class="table table-hover">
    <tr style="color: white;" class="bg-dark">
    <th>Unit Name</th>
    <th>Actions</th>
    </tr>
 
    <tr>
    <% @units.each do |unit| %>
      <td><%= unit.unit_name %></td>
      <td><%= link_to "Show this unit", unit ,  class:"btn btn-primary" %> | <%=link_to "Edit This Unit" , edit_unit_path(unit) , class:"btn btn-warning"%></td>
    </tr>
    <% end %>
</table>

<%= link_to "New unit", new_unit_path ,class:"btn btn-success" %>



