<div class="jumbotron">
  <%= render @unit %>
  <%= link_to "Edit this unit", edit_unit_path(@unit) %> |
  <%= link_to "Back to units", units_path %>
  <%= button_to "Destroy this unit", @unit, method: :delete , class:"btn btn-danger" %>
</div>


<p style="color: green"><%= notice %></p>
