<div id="<%= dom_id lecturer %>">
  <p>
    <strong>First name:</strong>
    <%= lecturer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= lecturer.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= lecturer.email %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= lecturer.contact %>
  </p>

</div>
