
<p style="color: green"><%= notice %></p>
<h1>Lecturers</h1>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th> Email</th>
      <th>Contact</th>
      <th>Actions</th>
      </tr>
      </thead>
      <% @lecturers.each do |lecturer| %>
      <tr>
        <td><%= lecturer.first_name %></td>
        <td><%= lecturer.last_name %></td>
        <td><%= lecturer.email %></td>
        <td><%= lecturer.contact %></td>
        <td> <%= link_to "Show this lecturer", lecturer , class:"btn btn-secondary" %> || <%= link_to "New lecturer", new_lecturer_path , class:"btn btn-dark"  %></td>
      </tr>
  <% end %>
</table>



