<p style="color: green"><%= notice %></p>

<%= render @lecturer %>

<div>
  <%= link_to "Edit this lecturer", edit_lecturer_path(@lecturer) , class:"btn btn-primary mt-2"  %> |
  <%= link_to "Back to lecturers", lecturers_path , class:"btn btn-dark mt-2"    %>

  <%= button_to "Destroy this lecturer", @lecturer, method: :delete ,class:"btn btn-danger mt-2" %>
</div>
